.count-time-wrapper {
  width: 320px;
  display: flex;
  //justify-content: space-between;

  .count {
    font-size: 0.5rem;
    color: #BDE3F4 !important;
    margin-left: 3px;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    line-height: 1.1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 10px;
    width: 10px;
  }

  .time_icon {
    width: 13px;
  }
}

.container-groups {
  width: 100%;
  margin: auto;
  .three-dots-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
  }
  .list-thumbnail {
    font-size: 1rem;
    height: auto;
    max-width: unset;
    height: 60px !important;

    width: unset !important;
  }

  .list-group-item {
    border-left: none !important;
    border-right: none !important;
    padding: 0 !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

  }

  .list-thumbnail {
    height: 60px;
    font-size: 1rem;
    height: auto;
    max-width: unset;
    height: 85px; // object-fit: cover;
    width: unset !important;
  }

  .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .badge-primary {
    color: #fff;
    background-color: #17a2b8;
  }

  .arrow-icon {
    width: 34px;
  }

  .icon-small-question {
    vertical-align: sub;
    width: 25px;
  }

  .icon-small-user {
    vertical-align: sub;
    width: 19px;
  }

  .icon-small-data {
    vertical-align: sub;
    width: 18px;
  }

  .text-icons {
    font-size: 0.8rem;
  }

  .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .badge-primary {
    color: #fff;
    background-color: #17a2b8;
  }

  .arrow-icon {
    width: 34px;
  }

  .icon-small-question {
    vertical-align: sub;
    width: 25px;
  }

  .icon-small-user {
    vertical-align: sub;
    width: 19px;
  }

  .icon-small-data {
    vertical-align: sub;
    width: 18px;
  }

  .text-icons {
    font-size: 0.8rem;
  }
}

.main-wrapper {
}

.container-oposite-wrapper {
  /* display: flex; */
  /* align-items: flex-end; */
  /* margin-bottom: 300px; */
  /* border: 1px solid black; */
}

.container-test {
  display: flex;
  flex-direction: column-reverse;
}

.container-opposite {
  background: lightgrey;
  /* margin: 0 auto; */
  overflow-y: scroll;
  /* overflow-y: scroll; */
  width: 100%;
  position: fixed;
  /* top:200px; */
  bottom: 131px;;
  top: 90px;
  /* overflow: auto; */
  /* position: absolute; */
  /* margin-bottom:300px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: space-around; */
  /* align-items: center; */
  /* min-height: 70vh; */
  /* max-height: 70vh; */
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  /* height: 80%; */
  /* overflow: scroll; */
  /* overflow-x: hidden; */
}

.container-opposite:hover,
.container-opposite:active {
  overflow-y: scroll;
  /* top:90px */
}

.overfloyY {
  /* overflow-y: scroll; */
  /* top: 90px; */
}

.display-hidden {
  display: none !important;
}

.fixed-bottom-container {
  background-color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid grey; */
  position: fixed;
  height: 130px;
  bottom: 0;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  /* overflow-y: scroll; */
  /*  */
  /* position: absolute;
 left: 0px;
 right: 0px;
 bottom: 20px; */
  /* height: 60px; */
}

.container-card-wrapper {
  margin-top: 10px;
  margin-bottom: 25px;
  /* display: flex; */
  justify-content: center;
  /* overflow-y: scroll; */
}

.container-oposite-wrapper .container-card-wrapper {
  margin-top: 0;
  margin-bottom: 35px;
  /* display: flex; */
  justify-content: center;
  /* overflow-y: scroll; */
}

.container-card-wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper-question {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* position: absolute; */
  background-color: #f1f1f1;
  border-radius: 18px;
  // border-radius: 18px 50px 50px 18px;
  height: 78px;
  width: 320px;
}

.wrapper-question .text-card {
  margin-right: 68px;
  font-size: 12px;
  padding: 10px;
  direction: rtl;
  text-align: right;
}

.wrapper-question-fake {
  /* position: absolute; */
  /* background-color: #f1f1f1; */
  border-radius: 1.25rem;
  height: 78px;
  width: 25px;
}

.special-button {
  /* transform: rotate(45deg); */
  /* overflow: hidden; */
  position: absolute;
  left: 247px;
}

.image-transform {
  max-width: 100%;
  /* transform: rotate(-45deg) scale(1.42); */
}

area {
  outline: none;
}

.line-main-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr.hr_bottom {
  background-color: grey;
  /* height: 1px; */
  width: 100px;
  margin: 0 !important;
}

.line-main-wrapper .text-wrapper {
  font-size: 12px;
  color: dark grey;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (min-width: 650px) {
  .container-groups {
    width: 500px;
    .three-dots-text{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 330px;
    }
    .list-thumbnail {
      height: 60px;
      font-size: 1rem;
      height: auto;
      max-width: unset;
      height: 85px; // object-fit: cover;
      width: unset !important;
    }

    .truncate {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }

    .badge-primary {
      color: #fff;
      background-color: #17a2b8;
    }

    .arrow-icon {
      width: 34px;
    }

    .icon-small-question {
      vertical-align: sub;
      width: 25px;
    }

    .icon-small-user {
      vertical-align: sub;
      width: 19px;
    }

    .icon-small-data {
      vertical-align: sub;
      width: 18px;
    }

    .text-icons {
      font-size: 0.8rem;
    }
  }
  .wrapper-fix-bottom {
    margin-right: 19px;
  }
  .container-opposite {
    /* width: 83%; */
    bottom: 110px;
    overflow-y: scroll;
  }
  .container-opposite:hover {
    /* overflow-y: unset; */
  }
  hr.hr_bottom {
    background-color: grey;
    /* height: 1px; */
    width: 300px;
    margin: 0 !important;
  }
  .line-main-wrapper {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-question {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: absolute; */
    background-color: #f1f1f1;
    border-radius: 18px;
    height: 78px;
    width: 500px;
  }
  .container-card-wrapper-image {
  }
  .special-button {
    /* transform: rotate(45deg); */
    /* overflow: hidden; */
    position: absolute;
    left: 425px;
  }
  .wrapper-question .text-card {
    margin-right: 71px;
    font-size: 16px;
    padding: 10px;
  }
  .fixed-bottom-container {
    /* width: 83%; */
    flex-direction: column;
    height: 100px;
  }
}
