<!--<div class="container-wrapper container d-flex justify-content-center align-items-center trial-block">-->
  <!--<div class="form-wrapper text-center">-->
    <!--<h2 class="text-center">הרשמה</h2>-->
    <!--<form dir="rtl" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>-->
      <!--<div class="name-wrapper d-flex">-->
        <!--<div class="form-group first-name">-->
          <!--<input-->
            <!--type="text"-->
            <!--formControlName="FirstName"-->
            <!--class="form-control"-->
            <!--[ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }"-->
            <!--placeholder="שם פרטי"-->
          <!--/>-->
          <!--<div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">-->
            <!--<div *ngIf="f.FirstName.errors.required">שדה חובה</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group last-name">-->
          <!--<input-->
            <!--type="text"-->
            <!--formControlName="LastName"-->
            <!--class="form-control"-->
            <!--[ngClass]="{ 'is-invalid': submitted && f.LastName.errors }"-->
            <!--placeholder="שם משפחה"-->
          <!--/>-->
          <!--<div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">-->
            <!--<div *ngIf="f.LastName.errors.required">שדה חובה</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input-->
          <!--type="text"-->
          <!--formControlName="Email"-->
          <!--class="form-control"-->
          <!--[ngClass]="{ 'is-invalid': submitted && f.Email.errors }"-->
          <!--placeholder="דוא&quot;ל"-->
          <!--autocomplete="current-email"-->
        <!--/>-->
        <!--<div *ngIf="submitted && f.Email.errors" class="invalid-feedback">-->
          <!--<div *ngIf="f.Email.errors.required">שדה חובה</div>-->
          <!--<div *ngIf="f.Email.errors.email">כתובת הדוא"ל שהוזנה אינה תקינה.</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="phone">Phone</label>-->
        <!--<input-->
          <!--type="phone"-->
          <!--formControlName="Phone"-->
          <!--class="form-control"-->
          <!--[ngClass]="{ 'is-invalid': submitted && f.Phone.errors }"-->
          <!--placeholder="phone, min 10 digits"-->
          <!--autocomplete="current-phone"-->
        <!--/>-->
        <!--<div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">-->
          <!--<div *ngIf="f.Phone.errors.required">שדה חובה</div>-->
          <!--<div *ngIf="f.Phone.errors.minlength">בחר/י סיסמא בת 10 תווים לפחות</div>-->
        <!--</div>-->
      <!--</div>-->

     <!---->
      <!--<button-->
        <!--type="submit"-->
        <!--[disabled]="loading"-->
        <!--class="btn btn-primary"-->
        <!--data-toggle="modal"-->
        <!--data-target="#exampleModal"-->
      <!--&gt;-->
        <!--ליצירת חשבון-->
      <!--</button>-->
    <!--</form>-->

    <!--<img-->
      <!--*ngIf="loading"-->
      <!--src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="-->
    <!--/>-->
    <!--<small><a routerLink="/login">כבר יש לך חשבון ביס-סקיפ-נו? לחץ לכניסה!</a></small>-->
  <!--</div>-->
<!--</div>-->
<!--<div-->
  <!--dir="rtl"-->
  <!--*ngIf="this.registerForm.invalid"-->
  <!--class="modal fade trial-block"-->
  <!--id="exampleModal"-->
  <!--tabindex="-1"-->
  <!--role="dialog"-->
  <!--aria-labelledby="exampleModalLabel"-->
  <!--aria-hidden="true"-->
<!--&gt;-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<form dir="rtl" [formGroup]="submitForm" (ngSubmit)="onSubmitCode()" novalidate>-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<h5 class="modal-title" id="exampleModalLabel"></h5>-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<div class="form-group">-->
            <!--<label for="Code">Code</label>-->
            <!--<input-->
              <!--type="text"-->
              <!--formControlName="Code"-->
              <!--class="form-control"-->
              <!--[ngClass]="{ 'is-invalid': submitted && c.Code.errors }"-->
              <!--placeholder="Code, min 4 digits"-->
              <!--autocomplete="current-code"-->
            <!--/>-->
            <!--<div dir="rtl" *ngIf="submitted && c.Code.errors" class="invalid-feedback rtl text__right">-->
              <!--<div dir="rtl" *ngIf="c.Code.errors.required">שדה חובה</div>-->
              <!--<div dir="rtl" *ngIf="c.Code.errors.minlength">בחר/י סיסמא בת 4 תווים לפחות</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
        <!---->
          <!--<button type="submit" [disabled]="this.submitForm.invalid" class="btn btn-primary" data-dismiss="modal">-->
            <!--Send-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
