.arrow-icon-left {
  width: 12px;
  //margin-left: 14px;
}
.page-heading {
  color: black;
  text-align: center;
}

.test {
  text-align: right;
}

.masthead {
  display: grid;
  grid-template-columns: 40px auto 40px;
  //   grid-template-rows: 25% 100px auto;
}

button:focus {
    outline: 0 !important;
    border: 0 !important;
    // box-shadow: none !important;
  }
