
<!--<section class="testimonials-block " id="testimonials">-->
    <!--<div class="container">-->
       <!--<div class="section-title text-center  animated zoomIn">-->
          <!--<span class="badge badge-primary">Invitation</span>-->
          <!--<h2>Invitation to Channel</h2>-->
          <!--<span class="section-title-line"></span>-->
       <!--</div>-->
       <!--<div class="row justify-content-center">-->
          <!--<div class="col-md-4  animated fadeInUp" data-wow-delay="0.1s">-->
             <!--<div class="custom-card testimonials-item text-center">-->
                <!--<p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>-->
                <!--<h6 class="mb-0 text-primary">User</h6>-->
                <!--<small>Thank You</small>-->
             <!--</div>-->
          <!--</div>-->
         <!---->
       <!--</div>-->
    <!--</div>-->
 <!--</section>-->
